{
    "rules": {
        "indent": [
            2,
            2,
            {"SwitchCase": 1}
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "max-len": [
          2,
          79,
          2,
          {"ignoreUrls": true}
        ],
        "no-cond-assign": [
          2
        ],
        "no-constant-condition": [
          2
        ],
        "no-control-regex": [
          2
        ],
        "no-debugger": [
          2
        ],
        "no-dupe-args": [
          2
        ],
        "no-dupe-keys": [
          2
        ],
        "no-duplicate-case": [
          2
        ],
        "no-empty-character-class": [
          2
        ],
        "no-empty": [
          2
        ],
        "no-ex-assign": [
          2
        ],
        "no-extra-boolean-cast": [
          2
        ],
        "no-extra-parens": [
          2,
          "functions"
        ],
        "no-irregular-whitespace": [
          2
        ],
        "semi": [
            2,
            "always"
        ],
        "strict": [
            2,
            "never"
        ],
        "comma-dangle": [
            2,
            "always-multiline"
        ]
    },
    "env": {
        "browser": true,
        "commonjs": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
    },
    "plugins": [
        "react"
    ]
}
