{
  "rules": {
    "accessor-pairs": [
      "error"
    ],
    "array-bracket-newline": [
      "error",
      {
        "multiline": true
      }
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "array-element-newline": [
      "error",
      "consistent"
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "arrow-parens": [
      "error",
      "as-needed",
      {
        "requireForBlockBody": true
      }
    ],
    "arrow-spacing": [
      "error"
    ],
    "block-scoped-var": [
      "error"
    ],
    "block-spacing": [
      "error",
      "always"
    ],
    "brace-style": [
      "error",
      "1tbs"
    ],
    "camelcase": [
      "error",
      {
        "properties": "never"
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "complexity": [
      "error"
    ],
    "computed-property-spacing": [
      "error",
      "never"
    ],
    "consistent-return": [
      "error"
    ],
    "consistent-this": [
      "error"
    ],
    "constructor-super": [
      "error"
    ],
    "curly": [
      "error"
    ],
    "dot-location": [
      "error"
    ],
    "dot-notation": [
      "error"
    ],
    "eol-last": [
      "error"
    ],
    "eqeqeq": [
      "error"
    ],
    "function-paren-newline": [
      "error",
      "consistent"
    ],
    "func-names": [
      "error",
      "as-needed"
    ],
    "func-style": [
      "error",
      "declaration"
    ],
    "generator-star-spacing": [
      "error",
      {
        "before": false,
        "after": true,
        "anonymous": "neither"
      }
    ],
    "getter-return": [
      "error"
    ],
    "global-require": [
      "error"
    ],
    "guard-for-in": [
      "error"
    ],
    "import/default": [
      "error"
    ],
    "import/dynamic-import-chunkname": [
      "error"
    ],
    "import/export": [
      "error"
    ],
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never",
        "jsx": "never",
        "mjs": "never"
      }
    ],
    "import/first": [
      "error"
    ],
    "import/named": [
      "error"
    ],
    "import/newline-after-import": [
      "error"
    ],
    "import/no-absolute-path": [
      "error"
    ],
    "import/no-amd": [
      "error"
    ],
    "import/no-anonymous-default-export": [
      "error",
      {
        "allowArrowFunction": true
      }
    ],
    "import/no-commonjs": [
      "error"
    ],
    "import/no-cycle": [
      "error"
    ],
    "import/no-duplicates": [
      "error"
    ],
    "import/no-extraneous-dependencies": [
      "error"
    ],
    "import/no-mutable-exports": [
      "error"
    ],
    "import/no-named-as-default": [
      "error"
    ],
    "import/no-named-as-default-member": [
      "error"
    ],
    "import/no-named-default": [
      "error"
    ],
    "import/no-namespace": [
      "error"
    ],
    "import/no-nodejs-modules": [
      "error",
      {
        "allow": [
          "fs",
          "path"
        ]
      }
    ],
    "import/no-self-import": [
      "error"
    ],
    "import/no-unassigned-import": [
      "error",
      {
        "allow": [
          "brace/**/*",
          "@firebase/*"
        ]
      }
    ],
    "import/no-unresolved": [
      "error"
    ],
    "import/no-useless-path-segments": [
      "error"
    ],
    "import/no-webpack-loader-syntax": [
      "error"
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "import/unambiguous": [
      "error"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "key-spacing": [
      "error",
      {
        "beforeColon": false,
        "afterColon": true,
        "mode": "strict"
      }
    ],
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "max-len": [
      "error",
      79,
      2,
      {
        "ignoreUrls": true
      }
    ],
    "new-cap": [
      "error",
      {
        "capIsNewExceptions": [
          "Slowparse.HTML",
          "Record"
        ]
      }
    ],
    "new-parens": [
      "error"
    ],
    "no-alert": [
      "error"
    ],
    "no-array-constructor": [
      "error"
    ],
    "no-async-promise-executor": [
      "error"
    ],
    "no-await-in-loop": [
      "error"
    ],
    "no-caller": [
      "error"
    ],
    "no-catch-shadow": [
      "error"
    ],
    "no-class-assign": [
      "error"
    ],
    "no-cond-assign": [
      "error"
    ],
    "no-const-assign": [
      "error"
    ],
    "no-constant-condition": [
      "error"
    ],
    "no-continue": [
      "error"
    ],
    "no-control-regex": [
      "error"
    ],
    "no-debugger": [
      "error"
    ],
    "no-delete-var": [
      "error"
    ],
    "no-div-regex": [
      "error"
    ],
    "no-dupe-args": [
      "error"
    ],
    "no-dupe-class-members": [
      "error"
    ],
    "no-dupe-keys": [
      "error"
    ],
    "no-duplicate-case": [
      "error"
    ],
    "no-else-return": [
      "error"
    ],
    "no-empty": [
      "error"
    ],
    "no-empty-character-class": [
      "error"
    ],
    "no-empty-pattern": [
      "error"
    ],
    "no-eq-null": [
      "error"
    ],
    "no-eval": [
      "error"
    ],
    "no-ex-assign": [
      "error"
    ],
    "no-extend-native": [
      "error"
    ],
    "no-extra-bind": [
      "error"
    ],
    "no-extra-boolean-cast": [
      "error"
    ],
    "no-extra-parens": [
      "error",
      "functions"
    ],
    "no-extra-semi": [
      "error"
    ],
    "no-fallthrough": [
      "error"
    ],
    "no-floating-decimal": [
      "error"
    ],
    "no-func-assign": [
      "error"
    ],
    "no-implicit-coercion": [
      "error"
    ],
    "no-implied-eval": [
      "error"
    ],
    "no-inline-comments": [
      "error"
    ],
    "no-inner-declarations": [
      "error"
    ],
    "no-invalid-regexp": [
      "error"
    ],
    "no-invalid-this": [
      "error"
    ],
    "no-irregular-whitespace": [
      "error"
    ],
    "no-iterator": [
      "error"
    ],
    "no-label-var": [
      "error"
    ],
    "no-labels": [
      "error"
    ],
    "no-lone-blocks": [
      "error"
    ],
    "no-lonely-if": [
      "error"
    ],
    "no-loop-func": [
      "error"
    ],
    "no-misleading-character-class": [
      "error"
    ],
    "no-mixed-requires": [
      "error"
    ],
    "no-mixed-spaces-and-tabs": [
      "error"
    ],
    "no-multi-spaces": [
      "error"
    ],
    "no-multi-str": [
      "error"
    ],
    "no-multiple-empty-lines": [
      "error"
    ],
    "no-native-reassign": [
      "error"
    ],
    "no-negated-condition": [
      "error"
    ],
    "no-nested-ternary": [
      "error"
    ],
    "no-new-func": [
      "error"
    ],
    "no-new-object": [
      "error"
    ],
    "no-new-require": [
      "error"
    ],
    "no-new-wrappers": [
      "error"
    ],
    "no-negated-in-lhs": [
      "error"
    ],
    "no-new": [
      "error"
    ],
    "no-obj-calls": [
      "error"
    ],
    "no-octal": [
      "error"
    ],
    "no-octal-escape": [
      "error"
    ],
    "no-param-reassign": [
      "error"
    ],
    "no-path-concat": [
      "error"
    ],
    "no-proto": [
      "error"
    ],
    "no-redeclare": [
      "error"
    ],
    "no-regex-spaces": [
      "error"
    ],
    "no-return-assign": [
      "error"
    ],
    "no-return-await": [
      "error"
    ],
    "no-script-url": [
      "error"
    ],
    "no-self-compare": [
      "error"
    ],
    "no-sequences": [
      "error"
    ],
    "no-shadow": [
      "error"
    ],
    "no-shadow-restricted-names": [
      "error"
    ],
    "no-spaced-func": [
      "error"
    ],
    "no-sparse-arrays": [
      "error"
    ],
    "no-throw-literal": [
      "error"
    ],
    "no-this-before-super": [
      "error"
    ],
    "no-trailing-spaces": [
      "error"
    ],
    "no-undef": [
      "error"
    ],
    "no-undef-init": [
      "error"
    ],
    "no-unexpected-multiline": [
      "error"
    ],
    "no-unneeded-ternary": [
      "error"
    ],
    "no-unreachable": [
      "error"
    ],
    "no-unused-expressions": [
      "error"
    ],
    "no-unused-vars": [
      "error"
    ],
    "no-use-before-define": [
      "error",
      "nofunc"
    ],
    "no-useless-call": [
      "error"
    ],
    "no-useless-concat": [
      "error"
    ],
    "no-useless-constructor": [
      "error"
    ],
    "no-useless-return": [
      "error"
    ],
    "no-var": [
      "error"
    ],
    "no-void": [
      "error"
    ],
    "no-warning-comments": [
      "error"
    ],
    "no-with": [
      "error"
    ],
    "object-curly-newline": [
      "error",
      {
        "consistent": true
      }
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "object-shorthand": [
      "error",
      "always"
    ],
    "one-var": [
      "error",
      {
        "uninitialized": "always",
        "initialized": "never"
      }
    ],
    "operator-assignment": [
      "error",
      "always"
    ],
    "operator-linebreak": [
      "error",
      "after"
    ],
    "padded-blocks": [
      "error",
      "never"
    ],
    "prefer-arrow-callback": [
      "error"
    ],
    "prefer-const": [
      "error"
    ],
    "prefer-destructuring": [
      "error"
    ],
    "prefer-promise-reject-errors": [
      "error"
    ],
    "prefer-reflect": [
      "error"
    ],
    "prefer-rest-params": [
      "error"
    ],
    "prefer-spread": [
      "error"
    ],
    "prefer-template": [
      "error"
    ],
    "private-props/no-unused-or-undeclared": [
      "error"
    ],
    "private-props/no-use-outside": [
      "error"
    ],
    "promise/no-callback-in-promise": [
      "error"
    ],
    "promise/no-promise-in-callback": [
      "error"
    ],
    "promise/param-names": [
      "error"
    ],
    "promise/prefer-await-to-callbacks": [
      "error"
    ],
    "promise/prefer-await-to-then": [
      "error"
    ],
    "promise/valid-params": [
      "error"
    ],
    "radix": [
      "error"
    ],
    "react/display-name": [
      "error"
    ],
    "react/forbid-foreign-prop-types": [
      "error"
    ],
    "react/jsx-boolean-value": [
      "error",
      "never"
    ],
    "react/jsx-closing-bracket-location": [
      "error",
      "tag-aligned"
    ],
    "react/jsx-curly-brace-presence": [
      "error",
      "never"
    ],
    "react/jsx-curly-spacing": [
      "error",
      "never"
    ],
    "react/jsx-equals-spacing": [
      "error",
      "never"
    ],
    "react/jsx-first-prop-new-line": [
      "error",
      "multiline"
    ],
    "react/jsx-handler-names": [
      "error",
      {
        "eventHandlerPrefix": "_handle"
      }
    ],
    "react/jsx-indent": [
      "error",
      2
    ],
    "react/jsx-indent-props": [
      "error",
      2
    ],
    "react/jsx-key": [
      "error"
    ],
    "react/jsx-no-comment-textnodes": [
      "error"
    ],
    "react/jsx-no-duplicate-props": [
      "error"
    ],
    "react/jsx-no-target-blank": [
      "error"
    ],
    "react/jsx-no-undef": [
      "error"
    ],
    "react/jsx-props-no-multi-spaces": [
      "error"
    ],
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": true,
        "shorthandFirst": true
      }
    ],
    "react/jsx-tag-spacing": [
      "error",
      {
        "closingSlash": "never",
        "beforeSelfClosing": "always",
        "afterOpening": "never"
      }
    ],
    "react/jsx-uses-react": [
      "error"
    ],
    "react/jsx-uses-vars": [
      "error"
    ],
    "react/jsx-wrap-multilines": [
      "error"
    ],
    "react/no-array-index-key": [
      "error"
    ],
    "react/no-children-prop": [
      "error"
    ],
    "react/no-danger-with-children": [
      "error"
    ],
    "react/no-deprecated": [
      "error"
    ],
    "react/no-did-mount-set-state": [
      "error"
    ],
    "react/no-did-update-set-state": [
      "error"
    ],
    "react/no-direct-mutation-state": [
      "error"
    ],
    "react/no-multi-comp": [
      "error"
    ],
    "react/no-set-state": [
      "error"
    ],
    "react/no-string-refs": [
      "error"
    ],
    "react/no-unescaped-entities": [
      "error"
    ],
    "react/no-unknown-property": [
      "error"
    ],
    "react/no-unsafe": [
      "error"
    ],
    "react/no-unused-prop-types": [
      "error"
    ],
    "react/prefer-es6-class": [
      "error",
      "always"
    ],
    "react/prefer-stateless-function": [
      "error",
      {
        "ignorePureComponents": true
      }
    ],
    "react/prop-types": [
      "error"
    ],
    "react/react-in-jsx-scope": [
      "error"
    ],
    "react/require-default-props": [
      "error"
    ],
    "react/require-render-return": [
      "error"
    ],
    "react/self-closing-comp": [
      "error"
    ],
    "react/sort-comp": [
      "error"
    ],
    "react/sort-prop-types": [
      "error",
      {
        "callbacksLast": true
      }
    ],
    "require-atomic-updates": [
      "error"
    ],
    "require-unicode-regexp": [
      "error"
    ],
    "require-yield": [
      "error"
    ],
    "quote-props": [
      "error",
      "as-needed",
      {
        "keywords": true
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "semi-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "space-before-blocks": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "space-infix-ops": [
      "error"
    ],
    "space-unary-ops": [
      "error",
      {
        "words": true,
        "nonwords": false
      }
    ],
    "spaced-comment": [
      "error",
      "always"
    ],
    "strict": [
      "error",
      "never"
    ],
    "switch-colon-spacing": [
      "error"
    ],
    "use-isnan": [
      "error"
    ],
    "template-curly-spacing": [
      "error",
      "never"
    ],
    "valid-jsdoc": [
      "error"
    ],
    "valid-typeof": [
      "error"
    ],
    "wrap-iife": [
      "error"
    ],
    "yield-star-spacing": [
      "error"
    ],
    "yoda": [
      "error",
      "never"
    ]
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "globals": {
    "__dirname": true
  },
  "plugins": [
    "import",
    "react",
    "promise",
    "private-props"
  ],
  "settings": {
    "import/resolver": "webpack",
    "react": {
      "version": "16.4.2"
    }
  }
}
