@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
    url('/compiled/fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('/compiled/fonts/Roboto-Regular-webfont.ttf') format('ttf'),
    url('/compiled/fonts/Roboto-Regular-webfont.eot') format('eot');
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  src: local('Roboto'),
    url('/compiled/fonts/Roboto-Bold-webfont.woff') format('woff'),
    url('/compiled/fonts/Roboto-Bold-webfont.ttf') format('ttf'),
    url('/compiled/fonts/Roboto-Bold-webfont.eot') format('eot');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'),
    url('/compiled/fonts/inconsolata-regular.woff2') format('woff2'),
    url('/compiled/fonts/inconsolata-regular.woff') format('woff'),
    url('/compiled/fonts/inconsolata-regular.ttf') format('ttf'),
    url('/compiled/fonts/inconsolata-regular.eot') format('eot');
}

html, body {
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

#main, .layout {
  height: 100%;
}

.layout {
  display: flex;
}

.layout-sidebar {
  flex: 0 0 auto;
  border-right: 1px solid darkgray;
  display: flex;
}

.sidebar {
  background-color: #00ff85;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 auto;
}

.sidebar--yellow {
  background-color: #ffd100;
}

.sidebar--red {
  background-color: #ff5e4f;
}

.sidebar-wordmarkContainer {
  flex: 1 0 auto;
  position: relative;
}

.sidebar-wordmarkContainer svg {
  padding: 10px;
  max-width: 30px;
  height: auto;
  max-height: 100%;
}

.sidebar-wordmarkContainer path {
  fill: white !important;
}

.sidebar-minimizedComponents {
  flex: 0 0 auto;
}

.sidebar-minimizedComponent {
  background-color: white;
  text-align: center;
  margin-top: 0.5em;
  padding: 1em 0;
  font-size: 0.7em;
  position: relative;
  cursor: pointer;
}

.sidebar-minimizedComponent:before {
  display: block;
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  right: 0;
  content: "";
  border-top: solid 0.5em #ff5e4f;
  border-right: solid 0.5em #ff5e4f;
  border-bottom: solid 0.5em transparent;
  border-left: solid 0.5em transparent;
}

.sidebar-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.sidebar-arrow::before {
  content: "";
  border-top: 5px solid white;
  height: 0;
  width: 50%;
  padding-bottom: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.sidebar-arrow--show::before {
  border-right: 5px solid white;
  transform: rotate(45deg);
  transform-origin: left 50%;
}

.sidebar-arrow--hide::before {
  border-left: 5px solid white;
  transform: rotate(-45deg);
  transform-origin: right 50%;
}

.dashboard {
  background-color: #00ff85;
  color: white;
  height: 100vh;
}

.dashboard--yellow {
  background-color: #ffd100;
}

.dashboard--red {
  background-color: #ff5e4f;
}

.dashboard-session {
  flex: 0 0 auto;
  font-size: 0.8rem;
  white-space: nowrap;
  padding: 1em;
  margin: 0 auto;
  overflow: hidden;
}

.dashboard-session-avatar {
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
  vertical-align: middle;
}

.dashboard-session-name {
  font-weight: bold;
  padding-left: 0.5rem;
}

.dashboard-session-logInOut {
  padding-left: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

.dashboard-menu {
  flex: 0 0 auto;
}

.dashboard-menu--scrollable {
  flex: 0 1 auto;
  overflow: scroll;
}

.dashboard-menu--grid {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-around;
}

.dashboard-menu-item {
  font-size: 0.8rem;
  background-color: white;
  color: black;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0.5rem 10%;
  padding: 0.2rem 0.5rem;
}

.dashboard-menu-item--grid {
  flex: 0 0 40%;
  white-space: nowrap;
  margin: 0 0 0.5rem 0;
  padding: 1rem 0.5rem;
  text-align: center;
}

.dashboard-menu-item:hover, .dashboard-menu-item--active {
  background-color: lightgray;
  color: white;
}

.dashboard-menu-item--active {
  font-weight: bold;
}

.dashboard-popContainer {
  flex: 1 0 auto;
  position: relative;
}

.dashboard-pop {
  display: none;
}

.dashboard-pop--visible {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.projectPreview-timestamp {
  text-align: right;
  color: darkgray;
  font-style: italic;
  font-weight: normal;
}

.layout-main {
  flex: 1 1 100%;
}

#workspace {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.environment {
  box-sizing: border-box;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.environment-column {
  flex: 1 1 50%;
}

.editors {
  display: flex;
  flex-direction: column;
}

.editors-editorContainer {
  box-sizing: border-box;
  flex: 1 1 auto;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  position: relative;
  z-index: 0;
  display: flex;
}

.editors-editorContainer:last-child {
  border-bottom: 0;
}

.editors-editorContainer-editor {
  z-index: 0;
  flex: 1 0 100%;
}

.editors-editorContainer-label {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  z-index: 1;
  padding: 0.2rem 1.6rem 0.2rem 0.2rem;
  opacity: 0.2;
  font-size: 0.8rem;
  border-bottom-left-radius: 4px;
  cursor: pointer;
  background: black url(/images/minimize.png) no-repeat;
  background-position: right 0.2rem center;
  background-size: 1rem;
}

.output {
  display: flex;
  flex-direction: column;
  position: relative;
}

.output-item {
  flex: 1 1 auto;
}

.output-item--shrink {
  flex: 0 1 auto;
}

.output-delayedErrorOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: black;
  background: white url(/images/large-spinner.gif) no-repeat center center;
  opacity: 0.2;
}

.preview {
  position: relative;
  display: flex;
}

.preview-frame {
  border: 0;
  z-index: 0;
  flex: 1 0 100%;
}

.preview-popOutButton {
  background: url(/images/popout.png);
  width: 16px;
  height: 18px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  opacity: 0.25;
  z-index: 1;
}

.preview-popOutButton:hover {
  opacity: 0.5;
}

.errorList {
  position: relative;
  overflow: scroll;
  background: white;
}

.errorList--docked {
  overflow: scroll;
  border-top: 3px solid darkgray;
}

.errorList-errorSublist-header {
  background-color: gray;
  color: white;
  text-align: center;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.errorList-errorSublist-list {
  list-style-type: none;
  padding: 0;
}

.errorList-error {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: lightgray;
  cursor: pointer;
}

.errorList-error-line {
  background-color: gray;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0.2em 0.5em;
  border-radius: 25%;
  display: inline-block;
  margin-right: 0.5em;
}

.u-flexContainer {
  display: flex;
}

.u-flexContainer--column {
  flex-direction: column;
}

.u-flexItem {
  flex: 0 1 auto;
}

.u-flexItem--grow {
  flex: 1 0 auto;
}

.u-flexItem--fill {
  flex: 1 0 100%;
}

.u-hidden {
  display: none;
}
