@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    url('fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('fonts/Roboto-Regular-webfont.ttf') format('ttf'),
    url('fonts/Roboto-Regular-webfont.eot') format('eot');
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  src:
    local('Roboto'),
    url('fonts/Roboto-Bold-webfont.woff') format('woff'),
    url('fonts/Roboto-Bold-webfont.ttf') format('ttf'),
    url('fonts/Roboto-Bold-webfont.eot') format('eot');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src:
    local('Inconsolata'),
    url('fonts/inconsolata-regular.woff2') format('woff2'),
    url('fonts/inconsolata-regular.woff') format('woff'),
    url('fonts/inconsolata-regular.ttf') format('ttf'),
    url('fonts/inconsolata-regular.eot') format('eot');
}

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  src:
    local('FontAwesome'),
    url('fonts/fontawesome-webfont.woff2') format('woff2'),
    url('fonts/fontawesome-webfont.woff') format('woff'),
    url('fonts/fontawesome-webfont.ttf') format('ttf'),
    url('fonts/fontawesome-webfont.eot') format('eot');
}

@keyframes pulsing {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

:root {
  --color-low-contrast-gray: #eee;
  --color-light-gray: #aaa;
  --color-gray: #666;
  --color-dark-gray: #444;
  --color-green: #00ff85;
  --color-yellow: #ffd100;
  --color-red: #ff5e4f;
  --color-purple: #f0f;
}

body {
  font-family: 'Roboto', sans-serif;
}

/** @define layout */

.layout {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.layout__columns {
  position: relative;
  display: flex;
  flex: 0 1 100vh;
  z-index: 1;
}

.layout__instructions-bar {
  background-color: var(--color-dark-gray);
  border-right: 1px solid var(--color-low-contrast-gray);
  color: white;
  cursor: pointer;
  display: flex;
  flex: none;
  font-size: 2em;
  text-align: center;
  padding: 0.25em;
}

.layout__main {
  flex: 1 1 100vw;
  position: relative;
}

.layout__instructions {
  flex: 0 0 25%;
}

/** @define top-bar */

.top-bar {
  align-items: center;
  background-color: var(--color-green);
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex: 0 0 auto;
  font-family: sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  height: 3rem;
  min-width: 820px;
  padding: 0 0.5rem;
  z-index: 2;
}

.top-bar_yellow {
  background-color: var(--color-yellow);
}

.top-bar_red {
  background-color: var(--color-red);
}

.top-bar__logo-container > svg {
  height: 3rem;
}

.top-bar__wordmark-container {
  position: relative;
  margin: 0 1rem 0 0.5rem;
  width: 5rem;
  height: 3rem;
}

.top-bar__wordmark-container > svg {
  width: 100%;
  height: 3rem;
}

.top-bar__snapshot_in-progress {
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  cursor: progress;
}

.top-bar__avatar {
  height: 1.5rem;
  vertical-align: middle;
  margin-top: -2px;
}

.top-bar__username {
  margin-left: 0.5em;
}

.top-bar__menu-button {
  align-self: center;
  box-sizing: border-box;
  cursor: pointer;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.75rem;
  position: relative;
  user-select: none;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.top-bar__menu-button:last-child {
  margin-right: 0;
}

.top-bar__menu-button_primary {
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
}

.top-bar__menu-button_primary:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.top-bar__menu-button_secondary {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.top-bar__menu-button_secondary:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.top-bar__menu-button_tertiary:hover:not(.top-bar__menu-button_active) {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.top-bar__menu-button_active {
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.top-bar__menu-button_projects .top-bar__menu {
  width: 16rem;
}

.top-bar__hamburger {
  font-size: 1.2rem;
}

.top-bar__menu {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  right: 0;
  position: absolute;
  top: 2.5rem;
  min-width: 100%;
  max-height: 50vh;
  max-width: 30em;
  overflow: auto;
}

.top-bar__menu-item {
  background-color: white;
  box-sizing: border-box;
  color: var(--color-dark-gray);
  display: block;
  font-weight: normal;
  line-height: 1.2em;
  min-width: 100%;
  padding: 1em 0.5em;
  text-decoration: none;
  white-space: nowrap;
}

.top-bar__menu-item_icons {
  text-align: center;
}

.top-bar__menu-item-icon {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.top-bar__menu-item:hover:not(.top-bar__menu-item_active) {
  background-color: var(--color-low-contrast-gray);
}

.top-bar__menu-item_active {
  background-color: rgb(186, 236, 255);
  color: black;
}

.top-bar__menu-item_active {
  font-weight: bold;
}

.top-bar__drop-down-button {
  padding-left: 0.25rem;
}

.top-bar__spacer {
  flex: 1 0 0;
}

/** @define instructions */

.instructions {
  background-color: var(--color-low-contrast-gray);
  color: black;
  overflow: scroll;
  padding: 1rem;

  /* postcss-bem-linter: ignore */
  & img {
    max-width: 100%;
  }

  /* postcss-bem-linter: ignore */
  & pre code.hljs {
    /* Highlight.js puts `style="display: inline;"` on code blocks which causes
    the lines to collapse into eachother */
    display: inline-block !important;
    white-space: pre-wrap;
  }

  /* postcss-bem-linter: ignore */
  & p code.hljs {
    padding: 0;
  }
}

/** @define project-preview */

.project-preview__label {
  white-space: normal;
}

.project-preview__timestamp {
  font-size: 0.8em;
  white-space: normal;
}

/** @define workspace */

.workspace {
  display: flex;
  flex-direction: column;
}

/** @define environment */

.environment {
  box-sizing: border-box;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.environment__column {
  flex: 1 0 0;
  position: relative;
  min-width: 300px;
}

.environment__columnContents {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

/** @define editors */

.editors {
  display: flex;
  flex-direction: column;
  font-family: 'Inconsolata';
}

.editors__editor-container {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  min-height: 85px;
}

.editors__editor {
  z-index: 0;
  flex: 1;
}

.editors__collapsed-editor {
  border-top: 4px solid var(--color-light-gray);
  flex: none;
}

.editors__label {
  background-color: var(--color-low-contrast-gray);
  color: var(--color-dark-gray);
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 14px;
  padding: 0.5em;
  text-align: right;
  user-select: none;
}

.editors__label_expanded {
  position: absolute;
  right: 0;
  top: 0;
  width: 8em;
  z-index: 1;
}

.editors__column-divider {
  background-color: var(--color-light-gray);
  cursor: ew-resize;
  min-width: 4px;
}

.editors__row-divider {
  background-color: var(--color-light-gray);
  cursor: ns-resize;
  min-height: 4px;
}

.editors__help-text {
  position: absolute;
  z-index: 1;
  max-width: 11rem;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: -1rem 0 0 -5.5rem;
  color: var(--color-gray);
  font-family: Roboto;
  user-select: none;
  pointer-events: none;
}

/** @define output */

.output {
  display: flex;
  flex-direction: column;
}

.output__item {
  flex: 1 1 auto;
}

.output__item_shrink {
  flex: 0 1 auto;
}

.output__delayed-error-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: white url(../images/large-spinner.gif) no-repeat center center;
  opacity: 0.2;
}

/** @define preview */

.preview {
  position: relative;
  display: flex;
}

.preview__frame-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 1.5em;
  z-index: 0;
}

.preview__frame {
  border: 0;
  height: 100%;
  width: 100%;
}

.preview__title-bar {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  height: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
  vertical-align: middle;
  background-color: var(--color-low-contrast-gray);
  z-index: 2;
}

.preview__title {
  text-align: center;
}

.preview__button {
  padding: 0 0.5em;
}

.preview__button_pop-out {
  float: left;
}

.preview__button_reset {
  float: right;
}

/** @define error-list */

.error-list {
  position: relative;
  overflow: scroll;
  background: white;
}

.error-list_docked {
  overflow: scroll;
  border-top: 3px solid var(--color-low-contrast-gray);
}

.error-list__header {
  text-align: center;
  margin: 1rem 0 0.5rem;
  font-size: 1rem;
}

.error-list__errors {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: var(--color-low-contrast-gray);
}

.error-list__error {
  padding: 0.5rem 0;
  cursor: pointer;
  overflow-wrap: break-word;
}

/* postcss-bem-linter: ignore */
.error-list__message code {
  font-weight: bold;
}

/* postcss-bem-linter: ignore */
.error-list__message p {
  margin: 0;
}

/** @define notification-list */

.notification-list__notification {
  margin: 0.2rem 0;
  padding: 1rem 0;
  text-align: center;
}

/* postcss-bem-linter: ignore */
.notification-list__notification a {
  color: inherit;
  text-align: center;
  margin-bottom: 0.2rem;
  padding: 0.2rem 0;
}

.notification-list__notification_error {
  background-color: var(--color-red);
}

.notification-list__notification_notice {
  background-color: #00b8ff;
  color: #fff;
}

.notification-list__dismiss {
  cursor: pointer;
  display: block;
  float: right;
  font-family: 'FontAwesome';
  padding: 0 1rem;
}

/** @define unsupported-browser */

.unsupported-browser {
  font-size: 1.5rem;
  margin-top: 5rem;
  text-align: center;

  /* postcss-bem-linter: ignore */
  & a {
    color: inherit;
  }
}

/** @define pop-throbber */

.pop-throbber {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 20%;
  margin-left: -10%;
  margin-top: -10%;
  animation: pulsing ease-in-out 2s infinite;
}

.pop-throbber__message {
  text-align: center;
  letter-spacing: 1em;
  text-transform: uppercase;
  font-size: 1.5vw;
  padding-left: 1em;
  color: var(--color-low-contrast-gray);
}

.pop-throbber__image {
  background: url('./images/pop/thinking.svg') center no-repeat;
  height: 100%;
}

.pop-throbber path {
  fill: var(--color-low-contrast-gray) !important;
}

/** @define utilities */

.u__flex-container {
  display: flex;
}

.u__flex-container_column {
  flex-direction: column;
}

.u__flex-item {
  flex: 0 1 auto;
}

.u__flex-item_grow {
  flex: 1 0 auto;
}

.u__flex-item_fill {
  flex: 1 0 100%;
}

.u__link {
  text-decoration: underline;
  cursor: pointer;
}

.u__hidden {
  display: none;
}

.u__invisible {
  visibility: hidden;
}

.u__icon {
  color: inherit;
  cursor: pointer;
  font-family: 'FontAwesome';
  font-weight: normal;
  user-select: none;
  text-decoration: none;
}
