@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    url('fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('fonts/Roboto-Regular-webfont.ttf') format('ttf'),
    url('fonts/Roboto-Regular-webfont.eot') format('eot');
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  src:
    local('Roboto'),
    url('fonts/Roboto-Bold-webfont.woff') format('woff'),
    url('fonts/Roboto-Bold-webfont.ttf') format('ttf'),
    url('fonts/Roboto-Bold-webfont.eot') format('eot');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src:
    local('Inconsolata'),
    url('fonts/inconsolata-regular.woff2') format('woff2'),
    url('fonts/inconsolata-regular.woff') format('woff'),
    url('fonts/inconsolata-regular.ttf') format('ttf'),
    url('fonts/inconsolata-regular.eot') format('eot');
}

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  src:
    local('FontAwesome'),
    url('fonts/fontawesome-webfont.woff2') format('woff2'),
    url('fonts/fontawesome-webfont.woff') format('woff'),
    url('fonts/fontawesome-webfont.ttf') format('ttf'),
    url('fonts/fontawesome-webfont.eot') format('eot');
}

@keyframes pulsing {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:root {
  --color-low-contrast-gray: #eee;
  --color-chrome: #e2e2e2;
  --color-light-gray: #aaa;
  --color-gray: #666;
  --color-dark-gray: #444;
  --color-green: #00ff85;
  --color-yellow: #ffd100;
  --color-red: #ff5e4f;
  --color-purple: #f0f;
  --color-low-contrast-blue: #baecff;
  --color-blue: #00b8ff;
  --size-rounded-corners: 0.2em;
  --size-top-bar: 4em;
  --size-top-bar-menu-button: 2.8em;
  --box-shadow: 0 0 0.1em 0 rgba(0, 0, 0, 0.5);
  --font-size-menu: 1.7vh;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

/** @define layout */

.layout {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.layout__columns {
  position: relative;
  display: flex;
  flex: 0 1 100vh;
  z-index: 1;
}

.layout__instructions-bar {
  background-color: var(--color-dark-gray);
  border-right: 1px solid var(--color-low-contrast-gray);
  color: white;
  cursor: pointer;
  display: flex;
  flex: none;
  font-size: 2em;
  text-align: center;
  padding: 0.25em;
}

.layout__main {
  flex: 1 1 100vw;
  position: relative;
}

.layout__instructions {
  flex: 0 0 25%;
  position: relative;
}

/** @define top-bar */

.top-bar {
  align-items: center;
  background-color: var(--color-green);
  box-shadow: var(--box-shadow);
  color: rgba(0, 0, 0, 0.75);
  transition: background-color 0.5s;
  display: flex;
  flex: 0 0 auto;
  font-size: var(--font-size-menu);
  font-weight: bold;
  height: var(--size-top-bar);
  padding: 0 0.5em;
  z-index: 2;
}

.top-bar_yellow {
  background-color: var(--color-yellow);
}

.top-bar_red {
  background-color: var(--color-red);
}

.top-bar__logo-container > svg {
  width: 3em;
}

.top-bar__wordmark-container {
  margin: 0 1em 0 0.5em;
}

.top-bar__wordmark-container > svg {
  width: 6.5em;
}

.top-bar__snapshot_in-progress {
  opacity: 0.5;
  cursor: progress;
}

.top-bar__avatar {
  border-radius: var(--size-rounded-corners);
  height: 1.8em;
  vertical-align: middle;
}

.top-bar__username {
  margin-left: 0.5em;
}

.top-bar__menu-button {
  border-radius: var(--size-rounded-corners);
  box-sizing: border-box;
  cursor: pointer;
  height: var(--size-top-bar-menu-button);
  line-height: var(--size-top-bar-menu-button);
  padding: 0 1em;
  position: relative;
  user-select: none;
  vertical-align: middle;
  margin-right: 0.5em;
  white-space: nowrap;
}

.top-bar__menu-button:last-child {
  margin-right: 0;
}

.top-bar__menu-button:hover {
  box-shadow: 0 0.1em 0.2em 0 rgba(0, 0, 0, 0.3);
}

.top-bar__menu-button_primary,
.top-bar__menu-button_secondary {
  box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.3);
}

.top-bar__menu-button_primary {
  background-color: rgba(255, 255, 255, 0.5);
}

.top-bar__menu-button_active,
.top-bar__menu-button_active:hover,
.top-bar__menu-button:active {
  box-shadow: inset 0 0.1em 0.2em 0 rgba(0, 0, 0, 0.3);
}

.top-bar__hamburger {
  font-size: 1.5em;
}

.top-bar__menu {
  border-radius: var(--size-rounded-corners);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: calc(var(--size-top-bar-menu-button) + (var(--size-top-bar) - var(--size-top-bar-menu-button)) / 2);
  min-width: 100%;
  max-height: 50vh;
  max-width: 30em;
  overflow: auto;
}

.top-bar__menu_left {
  left: 0;
}

.top-bar__menu_right {
  right: 0;
}

.top-bar__menu_project-picker {
  width: 16rem;
}

.top-bar__menu-item {
  background-color: white;
  box-sizing: border-box;
  color: var(--color-dark-gray);
  display: block;
  font-weight: normal;
  line-height: 1.2em;
  min-width: 100%;
  padding: 1em 0.5em;
  text-decoration: none;
  white-space: nowrap;
}

.top-bar__menu-item_icons {
  text-align: center;
}

.top-bar__menu-item-icon {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.top-bar__menu-item:hover:not(.top-bar__menu-item_active) {
  background-color: var(--color-low-contrast-gray);
}

.top-bar__menu-item_active {
  background-color: var(--color-low-contrast-blue);
  color: black;
}

.top-bar__menu-item_active {
  font-weight: bold;
}

.top-bar__drop-down-button {
  padding-left: 0.5em;
}

.top-bar__spacer {
  flex: 1 0 0;
}

/** @define instructions */

.instructions {
  background-color: var(--color-low-contrast-gray);
  bottom: 0;
  color: black;
  left: 0;
  line-height: 1.5em;
  overflow: scroll;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;

  /* postcss-bem-linter: ignore */
  & li {
    margin-bottom: 0.5em;
  }

  /* postcss-bem-linter: ignore */
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    line-height: 1.2em;
  }

  /* postcss-bem-linter: ignore */
  & img {
    max-width: 100%;
  }

  /* postcss-bem-linter: ignore */
  & pre code.hljs {
    /* Highlight.js puts `style="display: inline;"` on code blocks which causes
    the lines to collapse into eachother */
    display: inline-block !important;
    white-space: pre-wrap;
  }

  /* postcss-bem-linter: ignore */
  & p code.hljs,
  & li code.hljs {
    padding: 0;
  }
}

/** @define project-preview */

.project-preview__label {
  white-space: normal;
}

.project-preview__timestamp {
  font-size: 0.8em;
  white-space: normal;
}

/** @define workspace */

.workspace {
  display: flex;
  flex-direction: column;
}

/** @define environment */

.environment {
  box-sizing: border-box;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.environment__column {
  flex: 1 0 0;
  position: relative;
  min-width: 300px;
}

.environment__column-contents {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

/** @define editors */

.editors {
  display: flex;
  flex-direction: column;
  font-family: 'Inconsolata';
  font-size: 14px;
}

.editors__editor-container {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  min-height: 85px;
}

.editors__editor {
  z-index: 0;
  flex: 1;
}

.editors__collapsed-editor {
  border-top: 4px solid var(--color-light-gray);
  flex: none;
}

.editors__label {
  text-align: right;
}

.editors__label_expanded {
  background-color: rgba(226, 226, 226, 0.9);
  box-shadow: var(--box-shadow);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.editors__column-divider {
  background-color: var(--color-light-gray);
  cursor: ew-resize;
  width: 0.5vh;
}

.editors__row-divider {
  background-color: var(--color-light-gray);
  cursor: ns-resize;
  height: 0.5vh;
}

.editors__help-text {
  position: absolute;
  z-index: 1;
  max-width: 11rem;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: -1rem 0 0 -5.5rem;
  color: var(--color-gray);
  font-family: Roboto;
  user-select: none;
  pointer-events: none;
}

/** @define output */

.output {
  display: flex;
  flex-direction: column;
}

.output__item {
  flex: 1 1 auto;
}

.output__item_shrink {
  flex: 0 1 auto;
}

.output__delayed-error-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: white;
  animation: 0.2s ease-in 0.1s both fadeIn;
}

/** @define console */

.console {
  flex: none;
}

.console__label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--color-low-contrast-gray);
}

.console__scroll-container {
  height: 40vh;
  padding: 0.5em;
}

.console__repl {
  display: flex;
  flex-direction: column-reverse;
  font-family: 'Inconsolata';
  font-size: 14px;
  max-height: 100%;
  overflow: auto;
}

.console__repl_zoomed {
  font-size: 20px;
}

.console__row {
  padding-left: 1em;
  position: relative;
}

.console__chevron {
  color: var(--color-light-gray);
  font-family: 'FontAwesome';
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0.6);
  transform-origin: left center;
}

.console__chevron_blue {
  color: var(--color-blue);
}

.console__chevron_outdent {
  text-indent: -0.1em;
}

.console__entry,
.console__input {
  flex: none;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
}

.console__input {
  height: 1em;
}

.console__entry {
  border-bottom: 1px solid var(--color-low-contrast-gray);
}

.console__editor {
  margin-left: -4px;
}

.console__value {
  white-space: pre-wrap;
}

.console__error {
  color: var(--color-red);
}

.console__expression_inactive,
.console__value_inactive,
.console__error_inactive {
  color: var(--color-light-gray);
}

/** @define preview */

.preview {
  position: relative;
  display: flex;
}

.preview__frame-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 4.4vh;
  z-index: 0;
}

.preview__frame {
  background: white;
  border: 0;
  height: 100%;
  visibility: hidden;
  width: 100%;
}

.preview__frame_loaded {
  visibility: visible;
}

.preview__title-bar {
  box-shadow: var(--box-shadow);
  font-size: 2.2vh;
  height: 2.4vh;
  top: 0;
  left: 0;
  right: 0;
  padding: 1vh;
  position: absolute;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  background-color: var(--color-chrome);
  z-index: 2;
}

.preview__title {
  text-align: center;
}

.preview__button {
  padding: 0 0.5em;
}

.preview__button_pop-out {
  float: left;
}

.preview__button_reset {
  float: right;
}

/** @define error-list */

.error-list {
  position: relative;
  overflow: scroll;
  background: white;
}

.error-list_docked {
  overflow: scroll;
  border-top: 3px solid var(--color-low-contrast-gray);
}

.error-list__header {
  text-align: center;
  margin: 1rem 0 0.5rem;
  font-size: 1rem;
}

.error-list__errors {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: var(--color-low-contrast-gray);
}

.error-list__error {
  padding: 0.5rem 0;
  cursor: pointer;
  overflow-wrap: break-word;
}

/* postcss-bem-linter: ignore */
.error-list__message code {
  font-weight: bold;
}

/* postcss-bem-linter: ignore */
.error-list__message p {
  margin: 0;
}

/** @define notification-list */

.notification-list__notification {
  margin: 0.2rem 0;
  padding: 1rem 0;
  text-align: center;
}

/* postcss-bem-linter: ignore */
.notification-list__notification a {
  color: inherit;
  text-align: center;
  margin-bottom: 0.2rem;
  padding: 0.2rem 0;
}

.notification-list__notification_error {
  background-color: var(--color-red);
}

.notification-list__notification_notice {
  background-color: var(--color-blue);
  color: white;
}

.notification-list__dismiss {
  cursor: pointer;
  display: block;
  float: right;
  font-family: 'FontAwesome';
  padding: 0 1rem;
}

/** @define unsupported-browser */

.unsupported-browser {
  font-size: 1.5rem;
  margin-top: 5rem;
  text-align: center;

  /* postcss-bem-linter: ignore */
  & a {
    color: inherit;
  }
}

/** @define pop-throbber */

.pop-throbber {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 20%;
  margin-left: -10%;
  margin-top: -10%;
  animation: pulsing ease-in-out 2s infinite;
}

.pop-throbber__message {
  text-align: center;
  letter-spacing: 1em;
  text-transform: uppercase;
  font-size: 1.5vw;
  padding-left: 1em;
  color: var(--color-low-contrast-gray);
}

.pop-throbber__image {
  background: url('./images/pop/thinking.svg') center no-repeat;
  height: 100%;
}

.pop-throbber path {
  fill: var(--color-low-contrast-gray) !important;
}

/** @define label */

.label {
  background-color: var(--color-chrome);
  color: var(--color-dark-gray);
  cursor: pointer;
  font-family: 'Roboto';
  font-size: var(--font-size-menu);
  padding: 0.5em 1em;
  user-select: none;
}

/** @define utilities */

.u__flex-container {
  display: flex;
}

.u__flex-container_column {
  flex-direction: column;
}

.u__flex-item {
  flex: 0 1 auto;
}

.u__flex-item_grow {
  flex: 1 0 auto;
}

.u__flex-item_fill {
  flex: 1 0 100%;
}

.u__link {
  text-decoration: underline;
  cursor: pointer;
}

.u__hidden {
  display: none;
}

.u__invisible {
  visibility: hidden;
}

.u__icon {
  color: inherit;
  cursor: pointer;
  font-family: 'FontAwesome';
  font-weight: normal;
  user-select: none;
  text-decoration: none;
}
