@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
    url('fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('fonts/Roboto-Regular-webfont.ttf') format('ttf'),
    url('fonts/Roboto-Regular-webfont.eot') format('eot');
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  src: local('Roboto'),
    url('fonts/Roboto-Bold-webfont.woff') format('woff'),
    url('fonts/Roboto-Bold-webfont.ttf') format('ttf'),
    url('fonts/Roboto-Bold-webfont.eot') format('eot');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'),
    url('fonts/inconsolata-regular.woff2') format('woff2'),
    url('fonts/inconsolata-regular.woff') format('woff'),
    url('fonts/inconsolata-regular.ttf') format('ttf'),
    url('fonts/inconsolata-regular.eot') format('eot');
}

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  src: local('FontAwesome'),
    url('fonts/fontawesome-webfont.woff2') format('woff2'),
    url('fonts/fontawesome-webfont.woff') format('woff'),
    url('fonts/fontawesome-webfont.ttf') format('ttf'),
    url('fonts/fontawesome-webfont.eot') format('eot');
}

@keyframes pulsing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

:root {
  --color-gray: #eeeeee;
  --color-dark-gray: #aaaaaa;
  --color-green: #00ff85;
  --color-yellow: #ffd100;
  --color-red: #ff5e4f;
  --color-purple: #ff00ff;
}

body {
  font-family: 'Roboto', sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
  position: relative;
}

.layout__sidebar {
  flex: 0 0 auto;
  border-right: 1px solid var(--color-gray);
  display: flex;
}

.sidebar {
  background-color: var(--color-green);
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 auto;
}

.sidebar_yellow {
  background-color: var(--color-yellow);
}

.sidebar_red {
  background-color: var(--color-red);
}

.sidebar__wordmark-container {
  flex: 1 0 auto;
  position: relative;
}

.sidebar__wordmark-container svg {
  padding: 10px;
  max-width: 24px;
  height: auto;
  max-height: 100%;
}

.sidebar__wordmark-container path {
  fill: black !important;
}

.sidebar__minimized-components {
  flex: 0 0 auto;
}

.sidebar__minimized-component {
  background-color: white;
  text-align: center;
  margin-top: 0.5em;
  padding: 1em 0;
  font-size: 0.7em;
  position: relative;
  cursor: pointer;
}

.sidebar__minimized-component:before {
  display: block;
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  right: 0;
  content: "";
  border-top: solid 0.5em var(--color-red);
  border-right: solid 0.5em var(--color-red);
  border-bottom: solid 0.5em transparent;
  border-left: solid 0.5em transparent;
}

:root {
  --sidebar-arrow-stroke: 4px solid black;
}

.sidebar__arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.sidebar__arrow::before {
  border-top: var(--sidebar-arrow-stroke);
  content: "";
  height: 0;
  width: 50%;
  padding-bottom: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebar__arrow_show::before {
  border-right: var(--sidebar-arrow-stroke);
  transform: rotate(45deg);
  transform-origin: left 50%;
}

.sidebar__arrow_hide::before {
  border-left: var(--sidebar-arrow-stroke);
  transform: rotate(-45deg);
  transform-origin: right 50%;
}

.dashboard {
  background-color: var(--color-green);
  color: black;
  height: 100vh;
}

.dashboard_yellow {
  background-color: var(--color-yellow);
}

.dashboard_red {
  background-color: var(--color-red);
}

.dashboard__session {
  flex: 0 0 auto;
  font-size: 0.8rem;
  white-space: nowrap;
  padding: 1em;
  margin: 0 auto;
  overflow: hidden;
}

.dashboard__avatar {
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
  vertical-align: middle;
}

.dashboard__username {
  font-weight: bold;
  padding-left: 0.5rem;
}

.dashboard__log-in-out {
  padding-left: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

.dashboard__menu {
  flex: 0 0 auto;
}

.dashboard__menu_scrollable {
  flex: 0 1 auto;
  overflow: scroll;
}

.dashboard__menu_grid {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
}

.dashboard__menu-item {
  display: block;
  font-size: 0.8rem;
  background-color: white;
  color: black;
  cursor: pointer;
  box-sizing: border-box;
  margin: 1px 0;
  padding: 0.2rem 0.5rem;
  text-decoration: none;
}

.dashboard__menu-item_grid {
  flex: 0 0 calc(50% - 1px);
  white-space: nowrap;
  margin: 0 0 0.5rem 0;
  padding: 1rem 0.5rem;
  text-align: center;
}

.dashboard__menu-item_spinner {
  color: transparent;
  background-image: url('../images/spinner.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: not-allowed;
}

.dashboard__menu-item:hover, .dashboard__menu-item_active {
  background-color: var(--color-gray);
}

.dashboard__menu-item_unchecked{
  padding-left: 1.3rem;
}

.dashboard__menu-item_checked{
  padding-left: 1.3rem;  
}

.dashboard__menu-item_checked::before {
  content: '\2714';
  position: absolute;
  left: .5rem;
}

.dashboard__menu-item_spinner:hover {
  background-color: white;
}

.dashboard__menu-item_active {
  font-weight: bold;
}

.dashboard__spacer {
  flex: 1 0 auto;
}

.dashboard__pop-container {
  flex: 0 1 auto;
  position: relative;
  display: flex;
}

.dashboard__pop {
  display: none;
  flex: 0 1 100%;
  overflow: hidden;
}

.dashboard__pop_visible {
  display: block;
}

.dashboard__pop_visible svg {
  max-height: 100%;
  max-width: 100%;
}

.dashboard__links {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.dashboard__link {
  flex: 0 0 auto;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
}

.fontawesome {
  font-family: 'FontAwesome';
}

.project-preview__timestamp {
  text-align: right;
  color: var(--color-gray);
  font-style: italic;
  font-weight: normal;
}

.layout__main {
  flex: 1 1 100%;
  position: relative;
}

.workspace {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout__dashboard {
  flex: 1 0 20%;
}

.environment {
  box-sizing: border-box;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.environment__column {
  flex: 1 0 0;
  position: relative;
}

.environment__columnContents {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.environment__label {
  position: absolute;
  bottom: 1em;
  right: 1em;
  z-index: 1;
}

.editors {
  display: flex;
  flex-direction: column;
  font-family: 'Inconsolata';
}

.editors__editor-container {
  box-sizing: border-box;
  flex: 0 1 100vh;
  border-right: 4px solid var(--color-dark-gray);
  border-bottom: 4px solid var(--color-dark-gray);
  position: relative;
  z-index: 0;
  display: flex;
}

.editors__editor-container:last-child {
  border-bottom: 0;
}

.editors__editor {
  z-index: 0;
  flex: 1 0 100%;
}

.editors__help-text {
  position: absolute;
  z-index: 1;
  max-width: 11rem;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: -1rem 0 0 -5.5rem;
  opacity: 0.4;
  font-family: Roboto;
}

.label {
  background-color: black;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-family: 'Inconsolata';
  font-size: 0.8rem;
  opacity: 0.2;
  padding: 0.2rem;
}

.label:hover {
  opacity: 0.5;
}

.output {
  display: flex;
  flex-direction: column;
}

.output__item {
  flex: 1 1 auto;
}

.output__item_shrink {
  flex: 0 1 auto;
}

.output__delayed-error-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: black;
  background: white url(../images/large-spinner.gif) no-repeat center center;
  opacity: 0.2;
}

.preview {
  position: relative;
  display: flex;
}

.preview__frame {
  border: 0;
  z-index: 0;
  flex: 1 0 100%;
}

.preview__pop-out-button {
  background: url(../images/popout.png);
  width: 16px;
  height: 18px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  opacity: 0.25;
  z-index: 1;
}

.preview__pop-out-button:hover {
  opacity: 0.5;
}

.error-list {
  position: relative;
  overflow: scroll;
  background: white;
}

.error-list_docked {
  overflow: scroll;
  border-top: 3px solid var(--color-gray);
}

.error-list__header {
  text-align: center;
  margin: 1rem 0 0.5rem;
  font-size: 1rem;
}

.error-list__errors {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: var(--color-gray);
}

.error-list__error {
  padding: 0.5rem 0;
  cursor: pointer;
  overflow-wrap: break-word;
}

.notification-list__notification {
  text-align: center;
  margin-bottom: 0.2rem;
  padding: 0.2rem 0;
}

.notification-list__notification a {
  color: inherit;
  text-align: center;
  margin-bottom: 0.2rem;
  padding: 0.2rem 0;
}

.notification-list__notification_error {
  background-color: var(--color-red);
}

.notification-list__notification_notice {
  background-color: var(--color-green);
}

.notification-list__dismiss {
  font-family: 'FontAwesome';
  display: block;
  padding: 0.2rem 0.5rem;
  float: right;
  cursor: pointer;
}

.unsupported-browser {
  font-size: 1.5rem;
  margin-top: 5rem;
  text-align: center;

  & a {
    color: inherit;
  }
}

.pop-throbber {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20%;
  width: 20%;
  margin-left: -10%;
  margin-top: -10%;
  animation: pulsing ease-in-out 2s infinite;
}

.pop-throbber__message {
  text-align: center;
  letter-spacing: 1em;
  text-transform: uppercase;
  font-size: 1.5vw;
  padding-left: 1em;
  color: var(--color-dark-gray);
}

.pop-throbber path {
  fill: var(--color-gray) !important;
}

.u__flex-container {
  display: flex;
}

.u__flex-container_column {
  flex-direction: column;
}

.u__flex-item {
  flex: 0 1 auto;
}

.u__flex-item_grow {
  flex: 1 0 auto;
}

.u__flex-item_fill {
  flex: 1 0 100%;
}

.u__hidden {
  display: none;
}
