body {
  font-family: Verdana;
}

.editor {
  box-sizing: border-box;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  width: 50%;
  height: 33%;
}

.editor:last-child {
  border-bottom: 0;
}

#preview {
  float: right;
  width: 50%;
  height: 100%;
  position: relative;
}

#preview-frame {
  border: 0;
  width: 100%;
  height: 100%;
}

.errorList {
  float: right;
  width: 50%;
  height: 100%;
  position: relative;
  overflow: scroll;
}

.errorList-errorSublist-header {
  background-color: #ffb2b2;
  text-align: center;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.errorList-errorSublist-list {
  list-style-type: none;
  padding: 0;
}

.errorList-error {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: #ffe6e6;
  cursor: pointer;
}

.toolbar-items--closed {
  display: none;
}

.toolbar-items--open {
  display: block;
}

.toolbar-libraryPicker-library--enabled {
  font-weight: bold;
}
