body {
  font-family: Verdana;
}

.toolbar {
  border-bottom: 1px solid darkgray;
  overflow: hidden;
}

.toolbar-showHide {
  height: 1rem;
  padding: 0.5rem 0;
  background-color: rgb(220, 220, 220);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.toolbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50%;
  float: left;
}

.toolbar-menu-item {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 0.5em;
  margin: 1em;
}

.toolbar-menu-item:hover, .toolbar-menu-item--active {
  background-color: lightblue;
}

.toolbar-menu-item--active {
  font-weight: bold;
}

.toolbar-menu--closed {
  display: none;
}

.toolbar-menu--open {
  display: block;
}

.environment {
  clear: left;
}

.environment-rightColumn {
  float: right;
  width: 50%;
  position: relative;
}

.editor {
  box-sizing: border-box;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  width: 50%;
  height: 33%;
}

.editor:last-child {
  border-bottom: 0;
}

.preview {
  height: 100%;
  position: relative;
}

.preview-frame {
  border: 0;
  width: 100%;
  height: 100%;
}

.preview-popOutButton {
  background: url(/images/popout.png);
  width: 16px;
  height: 18px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  opacity: 0.25;
}

.preview-popOutButton:hover {
  opacity: 0.5;
}

.errorList {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: scroll;
}

.errorList--docked {
  position: absolute;
  height: auto;
  overflow: hidden;
  bottom: 2rem;
  border-top: 3px solid darkgray;
}

.errorList-errorSublist-header {
  background-color: #ffb2b2;
  text-align: center;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.errorList-errorSublist-list {
  list-style-type: none;
  padding: 0;
}

.errorList-error {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: #ffe6e6;
  cursor: pointer;
}
